{# templates/lucky/number.html.twig #}

<h1>Lucky Number Game</h1>

{{ form_start(form) }}
    {{ form_row(form.userNumber) }}
    <button type="submit">Verificar</button>
{{ form_end(form) }}

{# Aqui você pode exibir a mensagem se necessário #}